body {
  padding-top: 75px;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05),
    0 4px 8px 0 rgba(0, 0, 0, .05);
}

.linha {
  border-bottom: 4px solid blue;
}

.icone {
  height: 100px;
}

#home-quote {
  background: url("../img/bg-quote.jpg") center center;
  background-size: cover;
}

@media (max-width: 767px) {
  #home-quote .display-4 {
    font-size: 2.5rem;
  }

  body {
    padding-top: 0px;
  }

  .fixed-top {
    position: relative;
  }

  #perguntasFrenquentes {
    text-align: center;
  }
}

@media (max-width: 576px) {
  footer {
    text-align: center;
  }

  footer .btn {
    margin-left: auto;
    margin-right: auto;
  }

}

.pergunta {
  border-bottom: 1px solid #f8f9fa;
}
